body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5f5dc; /* Beige tone */
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #d3d3d3; /* Horizontal bar */
}



.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;

}
footer {
    bottom: 0;
    background-color: rgb(226, 217, 193); /* Beige tone */
    padding: 0 25px;
    text-align: center;
    border-top: 1px solid #dee5e7;
    border-bottom: 2px solid #d3d3d3; /* Horizontal bar */
    position :absolute;
    height : 7%;
    width: 100%;

}

h1 {
    font-size: 3em; /* Larger font size */
}

input[type="text"] {
    width: 500px;
    height: 50px;
    padding: 5px;
    font-size: 2em; /* Larger font size */
    text-align: center;
}
input[type="number"]{
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size: 2em;
    text-align: right;
}

button {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    
    font-size: 1.5em; /* Larger font size */
}
